body {
    font-family: "Open Sans", sans-serif;
}


header {
    background-color: #8d7249;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;

}

.wrapper>div {
    padding: 1em;
    border: 1px solid black;
}

.footer1 {
    text-align: center;
}

.text-uppercase {
    text-align: center;
}

.fo1 {
    text-align: center;
}

footer {
    background-color: goldenrod;
}

nav {
    background-color: goldenrod;
}

.aks {
    height: 480px;
    position: absolute;
    left: 994px;
    bottom: 437px;
    width: 51%;
    background-repeat: no-repeat;
}
