body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vw;
    font-family: Arial, sans-serif;

}

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: black;
    border-top: 1px solid rgba(255,255, 255);
    border-bottom: 1px solid rgba(255,255, 255);
    position: sticky ;
    top: 0 ;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: white;
    padding: 0 20px ;
    text-decoration: none;
    text-transform: uppercase ;
    font-weight: bold;
    line-height: 50px;
}

nav ul li a:hover {
    background-color: burlywood;
}


nav ul li a.active {
    background-color:burlywood;
}

#div1 {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    font-size: 18px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ullist {
    list-style: none;
    margin-bottom: 20px;
}

.itemlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.itemlist button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.itemlist button:hover {
    background-color: #555;
}

#items {
    margin-bottom: 20px;
    font-size: 16px;
}

#totalPrice, #korting {
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.images {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.itemcontainer {
    display: flex;
    align-items: center;
}

#sticky {
    position: sticky;
    top: 0;
}

#checkoutform{
    font-size: 16px;
}